@model ProyectoTFG_League.Models.ObjetoModelo

@{
    ViewData["Title"] = "Editar Objeto";
}

<h1 class="text-center">Editar Objeto</h1>
<br />
<form asp-action="Edit" method="post" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label asp-for="Nombre" class="control-label col-md-2">Nombre</label>
        <div class="col-md-5">
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Tipo" class="control-label col-md-2">Tipo</label>
        <div class="col-md-5">
            <select asp-for="Tipo" class="form-control" asp-items="ViewBag.Tipos"></select>
            <span asp-validation-for="Tipo" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Modo" class="control-label col-md-2">Modo</label>
        <div class="col-md-2">
            <input asp-for="Modo" class="form-control" />
            <span asp-validation-for="Modo" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Coste" class="control-label col-md-2">Coste</label>
        <div class="col-md-5">
            <input asp-for="Coste" class="form-control" />
            <span asp-validation-for="Coste" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Estadisticas" class="control-label col-md-2">Estadísticas</label>
        <div class="col-md-5">
            <textarea asp-for="Estadisticas" class="form-control"></textarea>
            <span asp-validation-for="Estadisticas" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="imagen" class="control-label col-md-2">Imagen</label>
        <div class="col-md-5">
            <input type="file" name="imagen" class="form-control custom-file-input" />
            <span asp-validation-for="Imagen" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            &nbsp;&nbsp;
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
</form>
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
