@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>League of Legends (LoL) es un videojuego de estrategia multijugador en línea muy popular, 
       desarrollado por Riot Games. Desde que salió en 2009, se ha vuelto un fenómeno mundial, 
       con millones de jugadores y una escena competitiva enorme.</p>
    <p>
       En esta página web, me he propuesto crear una base de datos completa sobre League of Legends. 
    </p>
    <p>
       Aquí podrás encontrar toda la información sobre los campeones, objetos, modos de juego, roles, 
       hechizos y aspectos del juego.
    </p>
</div>
