@model ProyectoTFG_League.Models.AspectoModelo

@{
    ViewData["Title"] = "Editar Aspecto";
}

<h1 class="text-center">Editar Aspecto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PrecioRP" class="control-label"></label>
                <select asp-for="PrecioRP" class="form-control" asp-items="ViewBag.Precios"></select>
                <span asp-validation-for="PrecioRP" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CampeonNombre.ID" class="control-label">Campeón</label>
                <select asp-for="CampeonNombre.ID" class="form-control" asp-items="ViewBag.Campeones"></select>
                <span asp-validation-for="CampeonNombre.ID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="imagen" class="control-label">Imagen</label>
                <input type="file" name="imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    &nbsp;&nbsp;
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
            <br />
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
