@model ProyectoTFG_League.Models.HechizoModelo

@{
    ViewData["Title"] = "Añadir Hechizo";
}

<h1 class="text-center">Añadir Hechizo</h1>
<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label col-md-2">Nombre</label>
        <div class="col-md-5">
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DescripcionH" class="control-label col-md-2">Descripción</label>
        <div class="col-md-5">
            <textarea asp-for="DescripcionH" class="form-control"></textarea>
            <span asp-validation-for="DescripcionH" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Enfriamiento" class="control-label col-md-2">Enfriamiento</label>
        <div class="col-md-5">
            <input asp-for="Enfriamiento" class="form-control" />
            <span asp-validation-for="Enfriamiento" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ModoH" class="control-label col-md-2">Modo de Juego</label>
        <div class="col-md-5">
            <input asp-for="ModoH" class="form-control" />
            <span asp-validation-for="ModoH" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="imagen" class="control-label col-md-2">Imagen</label>
        <div class="col-md-5">
            <input type="file" name="imagen" class="form-control" />
            <span asp-validation-for="Imagen" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Añadir" class="btn btn-primary" />
            &nbsp;&nbsp;
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
</form>
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
