@model ProyectoTFG_League.Models.HechizoModelo

@{
    ViewData["Title"] = "Editar Hechizo";
}

<h1>Editar Hechizo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DescripcionH" class="control-label">Descripcion</label>
                <input asp-for="DescripcionH" class="form-control" />
                <span asp-validation-for="DescripcionH" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Enfriamiento" class="control-label"></label>
                <input asp-for="Enfriamiento" class="form-control" />
                <span asp-validation-for="Enfriamiento" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="imagen" class="control-label">Imagen</label>
                <input type="file" name="imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
