@model ProyectoTFG_League.Models.RolModelo

@{
    ViewData["Title"] = "Detalles del Rol";
}

<h1 class="text-center">@Model.Nombre</h1>
    <div class="row">
        @foreach (var campeon in Model.Campeones)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        @if (campeon.Imagen != null && campeon.Imagen.Length > 0)
                        {
                            <img src="data:image;base64,@Convert.ToBase64String(campeon.Imagen)" alt="Imagen de @campeon.Nombre" class="img-thumbnail" width="75" height="75" style="display: block; margin: 0 auto;" />
                        }
                        <h5 class="card-title mt-2">@campeon.Nombre</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista de Roles</a>
</div>
