@model ProyectoTFG_League.Models.HabilidadModelo

@{
    ViewData["Title"] = "Añadir Habilidad";
}

<h1 class="text-center">Añadir Habilidad</h1>
<br />
<form asp-action="Create" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Tipo" class="control-label col-md-2">Tipo</label>
        <div class="col-md-2">
            <select asp-for="Tipo" class="form-control" asp-items="ViewBag.Tipos"></select>
            <span asp-validation-for="Tipo" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Nombre" class="control-label col-md-2">Nombre</label>
        <div class="col-md-5">
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DescripicionH" class="control-label col-md-2">Descripción</label>
        <div class="col-md-5">
            <textarea asp-for="DescripicionH" class="form-control"></textarea>
            <span asp-validation-for="DescripicionH" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="CampeonNombre.ID" class="control-label col-md-2">Campeón</label>
        <div class="col-md-2">
            <select asp-for="CampeonNombre.ID" class="form-control" asp-items="ViewBag.Campeones"></select>
        </div>
    </div>
    <div class="form-group">
    <label asp-for="Imagen" class="control-label col-md-2">Imagen</label>
    <div class="col-md-10">
        <input type="file" name="ImagenFile" class="form-control-file" accept="image/*">
        <span asp-validation-for="Imagen" class="text-danger"></span>
    </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </div>
</form>
<br />
<div>
    <a asp-action="Index">Vuelta al Index</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
